In [13]:
import pandas as pd
import random
import numpy as np

# Create a synthetic dataset with 30 rows
data = {
    'Name': ['Alice', 'Bob',    'Charlie', 'David', 'Eva', '   Frank', 'Grace', 'Helen', 'Ivy', 'Jack',
             'Kurt',  'Linda',  'Mike',    'Nancy', 'Oliver',  'Paul', 'Quinn', 'Rachel', 'Steve', 'Tina',
             'Ursula', 'Victor', 'Wendy', 'Xander', 'Yasmine', 'Zane', 'Sophia', 'Noah', 'Yamini'],
    'Age': [25, 30, 22, np.nan, 29, 35,     42, 50, 26, 40,
            33, 28, 45, 24,     32, np.nan, 37, 39, 27, 31,
            23, 36, 55, 48,     26,  29,    34, 43, 38],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'F', 'M',
               'M', 'F', 'M', 'F', 'M', 'M', 'F', 'F', 'F', 'M',
               'F', 'M', 'F', 'M', 'F', 'M', 'M', 'F', 'M'],
    'Salary': ['$55,000', '$63,200', '$58,900', '$75,000', '$62,400', '67000', '$48,500', '$NaN', '$53,200', '$69,800',
               '$72,500', '$NaN',    '62000',   '$55,800', '72000',   '78000', '$NaN',    '$49,600', '$NaN', '$68,900',
               '$58,200', '$71,500', '74000',   '62000',   '$57,300', '$62,900', '71000', '$49,200', '$63,400'],
    'Email': ['alice@email.com', 'bob@email.com',    'charlie@email.com', 'david@missing.com', 'eva@email.com',
              'frank@email.com', 'grace@email.com',   'helen@email.com',   'ivy@email.com', 'jack@email.com',
              'kurt@email.com',  'linda@email.com',   'mike@email.com',    'nancy@email.com', 'oliver@email.com',
              'paul@email.com',    'quinn@email.com',  'rachel@email.com', 'steve@email.com', 'tina@email.com',
              'ursula@email.com', 'victor@email.com',  'wendy@email.com',   'xander@email.com', 
              'yasmine@email.com', 'zane@email.com',  'sophia@email.com',  'noah@email.com', 'yamini@email.com'],
    'Phone': ['123-456-7890', '555-555-5555', '444-333-2222', '123-543-2345', '666-777-8888',
              '777-888-9999', '555-444-3333', 'NaN',          '999-888-7777', '111-222-3333',
              '123-456-7890', '555-555-5555', '444-333-2222', '123-543-2345', '666-777-8888',
              '777-888-9999', '555-444-3333', 'NaN',          '999-888-7777', '111-222-3333',
              '123-456-7890', '555-555-5555', '444-333-2222', '123-543-2345', '666-777-8888',
              '777-888-9999', '555-444-3333', 'NaN',          '999-888-7777'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami',    'San Francisco', 'NaN',        'Boston',        'Dallas',  'Phoenix',
             'San Diego', 'Seattle',   'Austin',   'Denver', 'Nashville', 'Miami',         'Los Angeles', 'San Francisco', 'New York', 'Chicago',
             'Houston',   'Boston',    'Dallas',   'Phoenix', 'New York', 'Los Angeles',    'Chicago',    'Houston',       'Miami'],
    'Education': ['Bachelor', 'Master', 'Ph.D.', 'Bachelor', 'NaN',   'Master', 'Ph.D.', 'Master', 'Bachelor', 'Ph.D.',
                   'Bachelor', 'Master', 'Ph.D.', 'Bachelor', 'NaN',   'Master', 'Ph.D.', 'Master', 'Bachelor', 'Ph.D.',
                   'Bachelor', 'Master', 'Ph.D.', 'Bachelor', 'Master', 'Ph.D.', 'Bachelor', 'Master', 'Ph.D.'],
    'Experience (Years)': [3.5, 7, 'NaN', 2, 5, 10, 8, 20,    4, 12,
                            6, 9, 15,     1, 11, 14, 3, 'NaN', 8, 5,
                            4, 7, 6,      12, 3, 9, 10, 11,   7],
    'Score': [85, 92, 78, 110, 89, 97, 93, 120, 88, 98,
              84, 95, 75, 130, 91, 105, 87, 115, 90, 100,
              86, 94, 80, 112, 88, 96, 98, 109, 93]
}

In [14]:
# Create DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to an Excel sheet
excel_file_path = 'employees.xlsx'
df.to_excel(excel_file_path, index=False)  # Set index=False to exclude the index column